<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About me:</title>
  </head>
  <body>
    <ul>
      <li>
        <a id="git" href="https://github.com/Mic-9" target="_blank">github</a>
      </li>
      <li>
        <a
          id="link"
          href="https://www.linkedin.com/in/michelemaioli"
          target="_blank"
          >linkedin</a
        >
      </li>
      <li>
        <a href="/">Torna alla home</a>
      </li>
    </ul>
  </body>
</html>
